
/* Profil */

.bg-main-color{
    background-color: #E98B2C;
}

.bg-secondary-color{
    background-color: #f6af68;
}

#banner a{
    text-decoration: none;
    color: black;
}

.profile_block{
    background-color: #f6af68;
    border-radius: 30px;
}
.premier_plan {
    z-index: 1050; /* Assurez-vous que ce z-index est plus élevé que les autres éléments */
    position: relative; /* Ajoutez une position relative pour que le z-index prenne effet */
}
.dropdown-menu {
    z-index: 1050;
}

#profile_body{
    z-index: -1;
    background-color: #f9c590;
}

#profile_picture{
    height: 4rem;
    border-radius: 100px;
    margin-right: 20px;
}

.profile_content h4{
    border-bottom: 2px solid #E98B2C;
    z-index: 10;
}

#footer{
    justify-content: space-around;
}

.course img{
    height: 1.5rem;
    background-color: #FF8C21;
    border-radius: 100px;
}

/* Listes des trajets */

.trajet{
    border-radius: 20px;
}

.trajet>img{
    height: 5rem;
    width: auto;
    border-radius: 20px;
}

.trajet a>img{
    background-color: #FF8C21;
    border-radius: 100px;
    height: 3rem;
}

.indicateur{
    height:1rem;
    width:1rem;
    background-color: green;
}