
/* Profil */

#banner {
    background-color: #E98B2C;
}

#banner a{
    text-decoration: none;
    color: black;
}

.profile_block{
    background-color: #f6af68;
    border-radius: 30px;
}

#profile_body{
    z-index: -1;
    background-color: #f9c590;
}

#profile_picture{
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
}

.profile_content h4{
    border-bottom: 2px solid #E98B2C;
    z-index: 10;
}

#footer{
    justify-content: space-around;
}