
/* Profil */

.bg-main-color{
    background-color: #E98B2C;
}

#banner a{
    text-decoration: none;
    color: black;
}

.profile_block{
    background-color: #f6af68;
    border-radius: 30px;
}

#profile_body{
    z-index: -1;
    background-color: #f9c590;
}

#profile_picture{
    height: 50px;
    border-radius: 100px;
    margin-right: 20px;
}

.profile_content h4{
    border-bottom: 2px solid #E98B2C;
    z-index: 10;
}

#footer{
    justify-content: space-around;
}

.course img{
    height: 30px;
    background-color: #FF8C21;
    border-radius: 100px;
}

/* Listes des trajets */

.trajet{
    border-radius: 20px;
}

.trajet>img{
    height: 5rem;
    width: auto;
    border-radius: 20px;
}

.trajet a>img{
    background-color: #FF8C21;
    border-radius: 100px;
    height: 3rem;
}

.disponible{
    display: flex;
    flex-direction: row;
}

.indicateur{
    height:1rem;
    width:1rem;
    margin-left: 10px;
    background-color: green;
}   
.img-container img {
    max-width: 100%; /* Image responsive */
    height: auto; /* Conserver les proportions */
}



.subtitle {
    color: #828282; /* Couleur du sous-titre */
}
.btn-outline-orange {
    color: #EA8A2C;
    border-color: #EA8A2C;
}
.quote-box {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    margin: 10px;
    flex: 1;
}
.quotes-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.background-section {
    background-image: url("../assets/background_covoiturage.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    padding: 50px 0; /* Ajouter un espace autour du contenu pour éviter que le texte ne se confonde avec l'image de fond */
}
